CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
sources/
.vscode/
*.venv
__pycache__
/.ccache

# Patch control files.
.*.smrev

# Output directories.
/build/
/install/
/output-*/
/out/
