CppHeaderParser>=2.7.4
build>=1.2.2
meson>=1.7.0
python-magic>=0.4.27
PyYAML==6.0.2
requests==2.32.3
tomli==2.2.1; python_version <= '3.10'
tqdm==4.67.1
packaging==25.0

# hipBLASLt deps
joblib>=1.4.2
msgpack>=1.1.0
