# Partially retrieved from https://github.com/pytorch/pytorch/blob/main/requirements.txt
# Python dependencies required for development
pytest==8.3.5
pytest-xdist>=3.5.0
expecttest>=0.3.0
hypothesis
numpy
psutil
